USE [master]
GO
/****** Object:  Database [MDK0202]    Script Date: 27.11.2025 1:37:56 ******/
CREATE DATABASE [MDK0202]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MDK0202', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MDK0202.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MDK0202_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MDK0202_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MDK0202].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MDK0202]
GO
/****** Object:  Table [dbo].[Материал$]    Script Date: 27.11.2025 1:37:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Материал$](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[Наименование] [nvarchar](255) NULL,
	[Тип_Материала] [int] NULL,
 CONSTRAINT [PK_Материал$] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Партнеры$]    Script Date: 27.11.2025 1:37:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Партнеры$](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[Тип_партнера] [int] NULL,
	[Наименование_партнера] [nvarchar](255) NULL,
	[Директор] [nvarchar](255) NULL,
	[Электронная_почта_партнера] [nvarchar](255) NULL,
	[Телефон_партнера] [nvarchar](13) NULL,
	[Юридический_адрес_партнера] [nvarchar](255) NULL,
	[ИНН] [nvarchar](12) NULL,
	[Рейтинг] [float] NULL,
 CONSTRAINT [PK_Партнеры$] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ПродуктыПартнера$]    Script Date: 27.11.2025 1:37:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ПродуктыПартнера$](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[КодПродукции] [int] NULL,
	[КодПартнера] [int] NULL,
	[Количество_продукции] [int] NULL,
 CONSTRAINT [PK_ПродуктыПартнера$] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Продукция$]    Script Date: 27.11.2025 1:37:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Продукция$](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[Тип_продукции] [int] NULL,
	[Наименование_продукции] [nvarchar](255) NULL,
	[Артикул] [nvarchar](20) NULL,
	[Минимальная_стоимость_для_партнера] [float] NULL,
 CONSTRAINT [PK_Продукция$] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[СоставПродукции$]    Script Date: 27.11.2025 1:37:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[СоставПродукции$](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[КодПродукции] [int] NULL,
	[КодМатериала] [int] NULL,
	[Количество] [int] NULL,
 CONSTRAINT [PK_СоставПродукции$] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Тип_Материала$]    Script Date: 27.11.2025 1:37:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Тип_Материала$](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[Тип_материала] [nvarchar](50) NULL,
	[Процент_брака_материала] [float] NULL,
 CONSTRAINT [PK_Тип_Материала$] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ТипПартнера$]    Script Date: 27.11.2025 1:37:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ТипПартнера$](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[Наименование] [nvarchar](55) NULL,
 CONSTRAINT [PK_ТипПартнера$] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ТипПродукции$]    Script Date: 27.11.2025 1:37:56 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ТипПродукции$](
	[Код] [int] IDENTITY(1,1) NOT NULL,
	[Тип_продукции] [nvarchar](255) NULL,
	[Коэффициент_типа_продукции] [float] NULL,
 CONSTRAINT [PK_ТипПродукции$] PRIMARY KEY CLUSTERED 
(
	[Код] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Партнеры$] ON 

INSERT [dbo].[Партнеры$] ([Код], [Тип_партнера], [Наименование_партнера], [Директор], [Электронная_почта_партнера], [Телефон_партнера], [Юридический_адрес_партнера], [ИНН], [Рейтинг]) VALUES (1, 2, N'Стройдвор', N'Андреева Ангелина Николаевна', N'angelina77@kart.ru', N'492 452 22 82', N'143001, Московская область, город Одинцово, уд. Ленина, 21', N'9.43246e+009', 5)
INSERT [dbo].[Партнеры$] ([Код], [Тип_партнера], [Наименование_партнера], [Директор], [Электронная_почта_партнера], [Телефон_партнера], [Юридический_адрес_партнера], [ИНН], [Рейтинг]) VALUES (2, 1, N'Самоделка', N'Мельников Максим Петрович', N'melnikov.maksim88@hm.ru', N'812 267 19 59', N'306230, Курская область, город Обоянь, ул. 1 Мая, 89', N'7.80389e+009', 3)
INSERT [dbo].[Партнеры$] ([Код], [Тип_партнера], [Наименование_партнера], [Директор], [Электронная_почта_партнера], [Телефон_партнера], [Юридический_адрес_партнера], [ИНН], [Рейтинг]) VALUES (3, 2, N'Деревянные изделия', N'Лазарев Алексей Сергеевич', N'aleksejlazarev@al.ru', N'922 467 93 83', N'238340, Калининградская область, город Светлый, ул. Морская, 12', N'8.43039e+009', 4)
SET IDENTITY_INSERT [dbo].[Партнеры$] OFF
GO
SET IDENTITY_INSERT [dbo].[ПродуктыПартнера$] ON 

INSERT [dbo].[ПродуктыПартнера$] ([Код], [КодПродукции], [КодПартнера], [Количество_продукции]) VALUES (1, 4, 1, 2000)
INSERT [dbo].[ПродуктыПартнера$] ([Код], [КодПродукции], [КодПартнера], [Количество_продукции]) VALUES (2, 5, 2, 3000)
INSERT [dbo].[ПродуктыПартнера$] ([Код], [КодПродукции], [КодПартнера], [Количество_продукции]) VALUES (3, 1, 3, 1000)
SET IDENTITY_INSERT [dbo].[ПродуктыПартнера$] OFF
GO
SET IDENTITY_INSERT [dbo].[Продукция$] ON 

INSERT [dbo].[Продукция$] ([Код], [Тип_продукции], [Наименование_продукции], [Артикул], [Минимальная_стоимость_для_партнера]) VALUES (1, 1, N'Фанера ФСФ 1800х1200х27 мм бежевая береза', N'6.54992e+006', 5100)
INSERT [dbo].[Продукция$] ([Код], [Тип_продукции], [Наименование_продукции], [Артикул], [Минимальная_стоимость_для_партнера]) VALUES (2, 2, N'Мягкие панели прямоугольник велюр цвет оливковый 600х300х35 мм', N'7.01856e+006', 1880)
INSERT [dbo].[Продукция$] ([Код], [Тип_продукции], [Наименование_продукции], [Артикул], [Минимальная_стоимость_для_партнера]) VALUES (3, 4, N'Бетонная плитка Белый кирпич микс 30х7,3 см', N'5.02827e+006', 2080)
SET IDENTITY_INSERT [dbo].[Продукция$] OFF
GO
SET IDENTITY_INSERT [dbo].[Тип_Материала$] ON 

INSERT [dbo].[Тип_Материала$] ([Код], [Тип_материала], [Процент_брака_материала]) VALUES (1, N'Тип материала 1', 0.002)
INSERT [dbo].[Тип_Материала$] ([Код], [Тип_материала], [Процент_брака_материала]) VALUES (2, N'Тип материала 2', 0.005)
INSERT [dbo].[Тип_Материала$] ([Код], [Тип_материала], [Процент_брака_материала]) VALUES (3, N'Тип материала 3', 0.003)
SET IDENTITY_INSERT [dbo].[Тип_Материала$] OFF
GO
SET IDENTITY_INSERT [dbo].[ТипПартнера$] ON 

INSERT [dbo].[ТипПартнера$] ([Код], [Наименование]) VALUES (1, N'ЗАО')
INSERT [dbo].[ТипПартнера$] ([Код], [Наименование]) VALUES (2, N'ООО')
INSERT [dbo].[ТипПартнера$] ([Код], [Наименование]) VALUES (3, N'ПАО')
SET IDENTITY_INSERT [dbo].[ТипПартнера$] OFF
GO
SET IDENTITY_INSERT [dbo].[ТипПродукции$] ON 

INSERT [dbo].[ТипПродукции$] ([Код], [Тип_продукции], [Коэффициент_типа_продукции]) VALUES (1, N'Древесно-плитные материалы', 1.5)
INSERT [dbo].[ТипПродукции$] ([Код], [Тип_продукции], [Коэффициент_типа_продукции]) VALUES (2, N'Декоративные панели', 3.5)
INSERT [dbo].[ТипПродукции$] ([Код], [Тип_продукции], [Коэффициент_типа_продукции]) VALUES (3, N'Плитка', 5.25)
SET IDENTITY_INSERT [dbo].[ТипПродукции$] OFF
GO
ALTER TABLE [dbo].[Материал$]  WITH CHECK ADD  CONSTRAINT [FK_Материал$_Тип_Материала$] FOREIGN KEY([Тип_Материала])
REFERENCES [dbo].[Тип_Материала$] ([Код])
GO
ALTER TABLE [dbo].[Материал$] CHECK CONSTRAINT [FK_Материал$_Тип_Материала$]
GO
ALTER TABLE [dbo].[Партнеры$]  WITH CHECK ADD  CONSTRAINT [FK_Партнеры$_ТипПартнера$] FOREIGN KEY([Тип_партнера])
REFERENCES [dbo].[ТипПартнера$] ([Код])
GO
ALTER TABLE [dbo].[Партнеры$] CHECK CONSTRAINT [FK_Партнеры$_ТипПартнера$]
GO
ALTER TABLE [dbo].[ПродуктыПартнера$]  WITH CHECK ADD  CONSTRAINT [FK_ПродуктыПартнера$_Партнеры$] FOREIGN KEY([КодПартнера])
REFERENCES [dbo].[Партнеры$] ([Код])
GO
ALTER TABLE [dbo].[ПродуктыПартнера$] CHECK CONSTRAINT [FK_ПродуктыПартнера$_Партнеры$]
GO
ALTER TABLE [dbo].[ПродуктыПартнера$]  WITH CHECK ADD  CONSTRAINT [FK_ПродуктыПартнера$_Продукция$] FOREIGN KEY([КодПродукции])
REFERENCES [dbo].[Продукция$] ([Код])
GO
ALTER TABLE [dbo].[ПродуктыПартнера$] CHECK CONSTRAINT [FK_ПродуктыПартнера$_Продукция$]
GO
ALTER TABLE [dbo].[Продукция$]  WITH CHECK ADD  CONSTRAINT [FK_Продукция$_ТипПродукции$] FOREIGN KEY([Тип_продукции])
REFERENCES [dbo].[ТипПродукции$] ([Код])
GO
ALTER TABLE [dbo].[Продукция$] CHECK CONSTRAINT [FK_Продукция$_ТипПродукции$]
GO
ALTER TABLE [dbo].[СоставПродукции$]  WITH CHECK ADD  CONSTRAINT [FK_СоставПродукции$_Материал$] FOREIGN KEY([КодМатериала])
REFERENCES [dbo].[Материал$] ([Код])
GO
ALTER TABLE [dbo].[СоставПродукции$] CHECK CONSTRAINT [FK_СоставПродукции$_Материал$]
GO
ALTER TABLE [dbo].[СоставПродукции$]  WITH CHECK ADD  CONSTRAINT [FK_СоставПродукции$_Продукция$] FOREIGN KEY([КодПродукции])
REFERENCES [dbo].[Продукция$] ([Код])
GO
ALTER TABLE [dbo].[СоставПродукции$] CHECK CONSTRAINT [FK_СоставПродукции$_Продукция$]
GO
USE [master]
GO
